@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf8f5;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loading-bar {
  background: linear-gradient(90deg, rgb(146, 145, 145), rgb(206, 204, 204), rgb(229, 229, 229));
  background-size: 200% 100%; /* Doubling the background size */
  animation: colorShift 3s ease-in-out infinite; /* Infinite color-shift animation */
}

@keyframes colorShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
